/*------------Common styling for elements-------------------------*/

img {/*---Make image responsive by default----------------*/
    display: block;
    height: auto;
    max-width: 100%;
}

/*----------Left sidebar with login and register -----------------*/
.ads-left-aside p {
    text-align: center;
    color: #bf3e11;
}

.ads-left-aside a {
    display: block;
    margin: 1% auto;
}

/*-----------Styling for li element containing add entry----------------------------*/
ul.list-softuniads {
    list-style: none;
}

ul.list-softuniads li, div.single-entry {
    background: darkslategray;
    margin: 1% auto;
    color: #ffffff;
    padding: 1%;
    border: solid 2px black;
    -webkit-box-shadow:  1px 1px 3px black;
    -moz-box-shadow:  1px 1px 3px black;
    box-shadow:  1px 1px 3px black;
}

ul.list-softuniads li h3 {
    margin: 0 0 1% 0;
}

/*-------------------Filter Styling------------------------------------*/

.active {
    font-weight: bold;
    color: #bf3e11;
}


/*------------User Message in the header top styling ----------------------*/

.current-user-msg {
    color: #ffffff;
    padding: 1% 0 0 0;
}

/*----------------Ads Entry Side Control-------------------------------*/
.ads-entry-control {
    border-left: solid 2px #ffffff;

}

.ads-entry-control button, .ads-entry-control a {
    margin: 1%;
    box-shadow: 1px 1px 3px black;
    -moz-box-shadow: 1px 1px 3px black;
    -webkit-box-shadow: 1px 1px 3px black;
}

/*----------------- Ads single entry styling---------------------------*/

div.single-entry button, div.single-entry a {
    margin: 1%;
}

/*--------------Forms Styling-------------------------------------------*/

.form-ad-handler {
    background: darkslategray;
    color: #ffffff;
}

.form-ad-handler legend {
    color: #ffffff;
    padding: 1%;
}

.form-ad-handler button {
    margin: 1% 0;
}
