<div class="row">
    <div class="col-md-2 ads-left-aside">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Navigation</h3>
            </div>
            <div class="panel-body">
                <a href="#/user/home" ng-click="">Home</a>
            </div>
            <div class="panel-body">
                <a href="#/user/ads">My Ads</a>
            </div>
            <div class="panel-body">
                <a href="#/user/publish">Publish New Ad</a>
            </div>
            <div class="panel-body">
                <a href="#/user/editprofile">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1>This is user edit profile page</h1>
    </div>
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body" ng-class="{active : isSelectedCategory(category)}" ng-click="filterByCategory(); setActiveCategory(category)">
                All
            </div>
            <div class="panel-body" ng-repeat="category in categories" ng-class="{active : isSelectedCategory(category)}" ng-click="filterByCategory(category.id); setActiveCategory(category)">
                {{ category.name }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Towns</h3>
            </div>
            <div class="panel-body" ng-class="{active : isSelectedTown(town)}" ng-click="filterByTown(); setActiveTown(town)">
                All
            </div>
            <div class="panel-body" ng-repeat="town in towns" ng-class="{active : isSelectedTown(town)}" ng-click="filterByTown(town.id); setActiveTown(town)">
                {{ town.name }}
            </div>
        </div>
    </div>
</div>
