<div class="row" ng-controller="UserCtrl">
    <div class="col-md-2 ads-left-aside">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Navigation</h3>
            </div>
            <div class="panel-body">
                <a href="#/user/home" ng-click="">Home</a>
            </div>
            <div class="panel-body">
                <a href="#/user/ads">My Ads</a>
            </div>
            <div class="panel-body">
                <a href="#/user/publish">Publish New Ad</a>
            </div>
            <div class="panel-body">
                <a href="#/user/editprofile">Edit Profile</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Ads</h3>
            </div>
            <div class="panel-body" ng-class="{active : isSelectedStatus(st)}"ng-click="getStatusAds(st); setActiveStatus(st)">All</div>
            <div class="panel-body" ng-repeat="st in statusAd" ng-class="{active : isSelectedStatus(st)}" ng-click="getStatusAds(st); setActiveStatus(st)">
                {{st}}
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <ul class="list-softuniads">
            <li dir-paginate="ad in data.ads | itemsPerPage: 10" total-items="totalAds">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>{{ ad.title }}</h3>
                            </div>
                            <div class="col-md-6">
                                <p class="text-right">{{ ad.date | date: 'd-MMM-yyyy'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./img/no-image.png" ng-src="{{ ad.imageDataUrl }}" />
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-12">
                                    {{ ad.text }}
                                </div>
                                <div class="col-md-12">
                                    Category: {{ ad.categoryName }}
                                </div>
                                <div class="col-md-12">
                                    Town: {{ ad.townName }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ads-entry-control">
                        <h5>Status:</h5>
                        <p>{{ ad.status }}</p>
                        <div class="row">
                            <button class="btn btn-danger" ng-click="deactivateAd(ad.id);" ng-if="checkStatus(ad.status, 'Deactivate')">Deactivate</button>
                        </div>
                        <div class="row">
                            <a class="btn btn-warning" ng-href="#/user/ads/edit/{{ad.id}}" ng-if="checkStatus(ad.status, 'Edit')" ng-click="getCurrentAd(ad.id)">Edit</a>
                        </div>
                        <div class="row">
                            <button class="btn btn-success" ng-click="publishAdAagain(ad.id);" ng-if="checkStatus(ad.status, 'PublishAgain')">Publish Again</button>
                        </div>
                        <div class="row">
                            <a class="btn btn-danger" ng-href="#/user/ads/delete/{{ad.id}}" ng-if="checkStatus(ad.status, 'Delete')">Delete</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChanged(newPageNumber)" template-url="templates/dirPagination.tpl.html" ></dir-pagination-controls>

    </div>
</div>